<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodesjs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, hic. Culpa dolorem nesciunt quisquam non corporis excepturi cupiditate veniam asperiores nihil aspernatur, sint corrupti magnam quibusdam a quas earum officiis?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore porro voluptatum itaque odit fugiat ducimus, voluptate ab molestiae adipisci, officiis quam laboriosam totam blanditiis minima animi dolor impedit suscipit?</p>
    <a href="https://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>